* {
  margin: 0;
  padding: 0;
  
}

#buscar{
  text-align: right;
  background-size: cover;
  height: 30px;
  margin-top: 50px;
  margin-left:   550px;
  margin-right:  40px;
  background-color: whitesmoke;
}

#header {
  position: relative;
  text-align: center;
  background-size: cover;
  background-color: rgba(237, 243, 245, 0.28);
}

#header h1 { /*letra del titulo*/
      font-family: 'Arvo';
      font-weight: 700;
      color: #FFFF00;
      text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
      font-size: 50px;
      letter-spacing: 13px;
    }

    #header h1 a {
      border: 0;
    }

    #header p { /*frase del header*/
      text-transform: uppercase;
      font-weight: 900;
      color: #FFFFFF;
      margin: 2.5em 0 0 0;
      font-size: 25px;
      letter-spacing: 3px;
      text-align: center;
    }


    #header2 > #header {
      padding: 6em 0 4em 0;
    }

    #header2 h1 {
      font-size: 2em;
      letter-spacing: 8px;
      line-height: 1.325em;
    }

    #header2 p {
      margin: 1.25em 0 0 0;
      letter-spacing: 2px;
    }


    #header2 > #header {
      padding: 12em 0 5em 0;
    }

    #header2 h1 {
      font-size: 2.5em;
    }


/* Secccione¨*/
#menu {

      width:100%;
      /*margin: 0 auto;*/
      top: 3em;
      left: 0;
      /*margin-top: 50px;*/
      cursor: default;
      position: absolute;
    }

    #menu ul  {
      list-style: none;
      margin: 0; 
    }

    #menu > ul > li {
     display: inline-block;
     padding-right: 2em;/* espacios entre ellos*/
   }

   #menu > ul > li:last-child {
    padding-right: 25;
  }

  #menu  ul  li  a {

    background:rgba(0,0,0,0.4);
    width: 138px;
    font-weight:bold;
    font-size:1em;
    text-align: center;
    line-height: 44px;
    display:block;
    text-decoration: none;

  }

  #menu ul li a:hover {
    color:black;
  }

  #item-uno a {
    border-bottom:5px solid #f00;
    border-radius: 15px;
    color: #f00
  }

  #item-dos a {
    border-bottom:5px solid #f80;
    border-radius: 15px;
    color: #f80;
  }

  #item-tres a {
    border-bottom:5px solid #ff0;
    border-radius: 15px;
    color: #ff0;
  }

  #item-cuatro a {
    border-bottom:5px solid #8f0;
    border-radius: 15px;
    color: #8f0;
  }

  #item-cinco a {
    border-bottom:5px solid #0ff;
    border-radius: 15px;
    color: #0ff;
  }

  #item-seis a {
    border-bottom:5px solid #EE82EE;
    border-radius: 15px;
    color: #EE82EE;
  }

  #item-uno a:hover {
    background:#f00;
  }

  #item-dos a:hover {
    background:#f80;
  }

  #item-tres a:hover {
    background:#ff0;
  }

  #item-cuatro a:hover {
    background:#8f0;
  }

  #item-cinco a:hover {
    background:#0ff;
  }

  #item-seis a:hover {
    background:#EE82EE;
  }

/* Lateral*/
nav {
 color: white;
  width: 100px;
  height: 150vh;
  position: left; 
  
}

body {
  background-image:url(https://delaymag.com/wp-content/uploads/2016/05/Gifs-de-luces-y-ne%C3%B3n-6.gif);
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  /*color: black; */
  font-size: 12px;
  line-height: 20px;
}

h1 {
  font-size: 5px;
  text-align: center;
  font-style: italic;
  border-bottom: solid #fff 1px;
  text-transform: uppercase;
  padding: 0 0 15px 0;
  line-height: 40px;
}

/*entorno de la pag*/
.contenedor {
  width: 960px;
  padding: 0 40px 40px 40px;
  margin: 50px auto 0;
  border-radius: 45px 45px 45px 45px;
  background-color:rgba(37, 58, 112, 0.63);
  margin-top: 5px;
}



.cabezal {
  margin: 0 0 20px;
  height: 135px;
}



.cabezal img {
  margin-top: 40px;
  float: left;
} 


h1 {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  border-bottom: solid #fff 1px;
  text-transform: uppercase;
  padding: 0 0 15px 0;
  line-height: 40px;
}

/*cajita de producto*/
.caja { 
  width: 170px;
  height: 240px;
  float: right; 
  padding: 50px;
  position: relative; 
}

.caja1{ 
  width: 850px;
  height: 500px;
  float: left; 
  padding: 50px;
  position: relative; 
}

.naranja {
  border-radius: 5px 30px 45px 60px;
  background: rgba(230, 169, 57, 0.76);
  border-spacing: 20px;
  margin-left:   11px;
  margin-right:  11px;
}

.verde {
  background: rgba(57, 230, 178, 0.68);
  border-radius: 5px 30px 45px 60px;

}

ul {
  margin-left: 15px;
}

.altura {
  height: 120px;
  margin-top: 15px;
} 


.boton:link,
.boton:visited {
  background: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  width: 70px;
  padding: 5px 20px;
  margin: 50px auto 0;
  display: block;
}

.naranja .boton {
  color: #e77d02;
}

.naranja .boton:hover {
  background-color: #a05700;
  color: #fff
}


.verde .boton {
  color: #5fb194;
}

.verde .boton:hover {
  background-color: #3c7763;
  color: #fff;
}


/*boton detalles del producto*/

.boton1:link,
.boton1:visited {
  background: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  width: 70px;
  padding: 5px 20px;
  margin: 200px auto 0;
  display: block;
}

.naranja .boton1 {
  color: #e77d02;
}

.naranja .boton1:hover {
  background-color: #a05700;
  color: #fff
}
